{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="faqs-tookit gradient_grey-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="widget-wrapper">
          <h3 class="title"><ly-as-2711802>What's in the purchased box?</ly-as-2711802></h3>
          <p><ly-as-2711803>An email containing a download link and well-details documents will be sent to you. Although the installation is very easy - just in a minute, we are always willing to help whenever you need.</ly-as-2711803></p>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="widget-wrapper">
          <h3 class="title"><ly-as-2711804>Are there any additional costs?</ly-as-2711804></h3>
          <p><ly-as-2711805>The answer is</ly-as-2711805> <strong><ly-as-2711806>NO</ly-as-2711806></strong><ly-as-2711807>. All of our themes are one-time fees. You only need to purchase a theme once for your shop. Even when there are updates available, it's also free to get the updates.</ly-as-2711807></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="widget-wrapper">
          <h3 class="title"><ly-as-2711808>Is it possible to install more themes without loosing my current one?</ly-as-2711808></h3>
          <p><ly-as-2711809>You can install multiple themes on your store at a time. Every theme is working separately from the others, so you can totally set mind at rest. You can also make changes on any</ly-as-2711809> <a href="/collections/shopify-themes" title="<ly-as-2711814>Shopify Themes and Shopify Templates</ly-as-2711814>" class="hover"><ly-as-2711810>shopify themes</ly-as-2711810></a> <ly-as-2711811>or choose one to publish at any time.</ly-as-2711811></p>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="widget-wrapper">
          <h3 class="title"><ly-as-2711812>Why Shopify?</ly-as-2711812></h3>
          <p><ly-as-2711813>Shopify is now the world's leading ecommerce provider, with over 160,000 users around the world. It is built under cloud-based platform, set you free from worrying about performance or security. All you have to do is setting the products and start your business.</ly-as-2711813></p>
        </div>
      </div>
    </div>
  </div>
</div>