{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<a class="icon_spinner2" href="{{spinner2}}">
  <span class="stick"></span>
  <span class="stick"></span>
  <span class="stick"></span>
  <span class="button-caption">{{ 'collections.general.load_more' | t }}</span>
</a>