{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div id="col-main" class="col-md-12 clearfix">
  <div class="page">
    <div class="page_content">
      {% include 'evm-shop-by-instagram' %} 
      {% comment %}ly_code_replace_for_[ page.content ]_begin{% endcomment %}{% include 'ly-content' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
    </div>
  </div>
</div>